[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
tweepy = "*"
pymongo = "==3.12.3"
djongo = "==1.3.6"
python-dotenv = "*"
pytz = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.10"
